<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let chat of chatService.chats"
       [ngClass]="{ 'text-right': chatService.usuario.uid == chat.iud }">
    <span class="badge"
          [ngClass]="{ 'badge-primary': chatService.usuario.uid == chat.iud,
                       'badge-success': chatService.usuario.uid != chat.iud }">
                       {{ chat.nombre }}</span>
    <p>
      {{ chat.mensaje }}
    </p>
  </div>
</div>

<input type="text"
       class="form-control"
       name="mensaje"
       placeholder="Enviar Mensaje"
       (keyup.enter)="enviar_mensaje()"
       [(ngModel)]="mensaje">